<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Translation App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/translate.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
        </div>
        <div class="header-title">
            <div class="title">VN-EN Language Translation</div>
            <div class="subtitle">TMG301 - AI1801</div>
        </div>
        <div class="user-info">
            <p>G3</p>

        </div>
    </div>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <p>&copy; 2025 Nguyen Vu Huy. All rights reserved. | 
            <a href="https://www.linkedin.com/in/vuhuyng/">LinkedIn</a> | 
            <a href="https://github.com/vuhuyng04">GitHub</a>
        </p>
    </footer>
</body>
</html>
